.DiscussionListItem-info .item-excerpt div{font-size:14px;}
.Dropdown-menu > li > a, .Dropdown-menu > li > button, .Dropdown-menu > li > span{font-size:15px;}
div.Post-body, div .TextEditor .TextEditor-editor{font-size:16px;}
h3.DiscussionListItem-title{font-size:18px;}